@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap');

@charset "utf-8";

@page {
  size: letter portrait;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

.labels {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
}

.label {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Spectral', serif;
  margin: 5px auto;
  overflow: scroll;
  page-break-inside: avoid;
}

div.label > div {
  text-align: center;
  flex-basis: 100%;
  box-sizing: border-box;
}

div.label .institution_name,
div.label .repository_name {
  font-size: 80%;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

div.label .institution_name {
  align-items: flex-end;
}

div.label .repository_name {
  align-items: flex-start;
}

.resource_id {
  font-size: 150%;
  font-weight: bold;
}

div.label .agent_name,
div.label .resource_title {
  font-size: 100%;
  display: flex;
  justify-content: center;
}

div.label .agent_name {
  align-items: flex-end;
}

div.label .resource_title {
  align-items: flex-start;
}

div.label .type,
div.label .indicator {
  flex-basis: 50%;
  display: flex;
  font-weight: bold;
}

div.label .type {
  justify-content: flex-end;
}

div.label .indicator {
  justify-content: flex-start;
  padding-left: 5px;
}

/*** 5163 Label (2 x 4) ***/
.avery-5163.safari-label {
  width: 3.5in;
  height: 1.8in;
}

/* reset for chrome */
.avery-5163,
.avery-5163.chrome-label {
  width: 3.875in;
  height: 2in;
}

.avery-5163:nth-child(10n) {
  page-break-after: always;
  break-after: always;
}

.avery-5163.chrome-label:nth-child(10n) {
  page-break-after: auto;
  break-after: auto;
}

.avery-5163:nth-of-type(2n) {
  /* float: right; */
  padding-left: 0.125in;
}
.avery-5163:nth-of-type(2n + 1) {
  clear: left;
  /* float: left; */
  padding-right: 0.125in;
  margin-left: 0.125in;
}

/*** 22513 Label (3 1/3 x 4) ***/
.avery-22513.safari-label {
  width: 3.7125in;
  height: 2.85in;
}

/* reset for chrome */
.avery-22513,
.avery-22513.chrome-label {
  width: 3.75in;
  height: 3in;
}

.avery-22513:nth-child(6n) {
  page-break-after: always;
  break-after: always;
}

.avery-22513:nth-of-type(2n) {
  /* float: right; */
  padding-left: 0.125in;
}
.avery-22513:nth-of-type(2n + 1) {
  clear: left;
  /* float: left; */
  padding-right: 0.125in;
  margin-left: 0.125in;
}

@media print {
  body {
    margin: 0;
  }
}
